name: Validate Songbook

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    uses: scsm-ua/songbook-md-json-parser/.github/workflows/songbook-validate.yml

    permissions:
      contents: read
      pull-requests: write
